<nav>
  <div class="nav-container">
    <a href="/" class="nav-logo">
      <img src="/assets/images/tennmesh-primary-dark-even.png" alt="TennMesh" class="nav-logo-img">
    </a>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/info/">Info</a>
      <a href="/connect/">Get Connected</a>
      <a href="/devices/">Devices</a>
      <a href="/settings/">Settings</a>
    </div>
  </div>
</nav>
